.mtk6 {
    color: aqua;
    background: linear-gradient(#69ba19, #baaf19);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bolder;
}

.mtk10 {
    color: #9cdcfe;
    background: linear-gradient(#69ba19, #baaf1967, yellow);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
}

.mtk12 {
    color: yellow;
    background: linear-gradient(#ba8a19, #f5e505a3, yellow);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.monaco-workbench .activitybar>.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, blue, darkblue, #000);
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
    display: flex;
    height: var(--editor-group-tab-height);
    scrollbar-width: none;
    background: linear-gradient(to right, blue, darkblue, #000);
}
